<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div class="p-3 bg-image" style="
        background-image: url('https://mdbootstrap.com/img/new/textures/full/171.jpg');
        height: 70px;
        "></div>

<div th:insert="/includes/head::head"></div>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet"
      integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
<body>

<div class="top">
    <a th:if="${userRegistration == null}" href="/medicalonlinebookingservice/index">Start page</a>
</div>

<div class="container">
    <form action="/medicalonlinebookingservice/registration" method="post" th:object="userRegistration">
        <div th:replace="/includes/header"></div>

        <div th:replace="/includes/nav"></div>

        <div class="registration-content">

            <div class="user-inf-add">

                <h2> New user registration </h2>

                <div style="clear:both; padding:8px; text-align:right">
                    <label for="Username" style="float:left">Username: </label>
                    <input type="tel" id="Username" required/>
                </div>

                <div style="clear:both; padding:8px; text-align:right">
                    <label for="password" style="float:left">Password: </label>
                    <input type="password" id="password" required/>
                </div>
            </div>

            <div class="userRegistration">

                <div class="user">
                    <h2 style="text-align:center">Patient data:</h2>

                    <div style="clear:both; padding:8px; text-align:right">
                        <label for="firstName" style="float:left">First Name: </label>
                        <input type="text" id="firstName" required/>
                    </div>
                    <div style="clear:both; padding:8px; text-align:right">
                        <label for="lastName" style="float:left">Last Name: </label>
                        <input type="text" id="lastName" required/>
                    </div>


                    <div style="clear:both; padding:8px; text-align:right">
                        <label for="dateOfBirth" style="float:left">Date of Birth: </label>
                        <input type="date" id="dateOfBirth" required/>
                    </div>

                    <div style="clear:both; padding:8px; text-align:right">
                        <label for="gender-select" style="float:left">Sex: </label>
                        <select name="gender" id="gender-select">
                            <option th:value="${T(com.example.medicalonlinebookingservice.entity.enums.Gender).FEMALE}" th:text="FEMALE"></option>
                            <option th:value="${T(com.example.medicalonlinebookingservice.entity.enums.Gender).MALE}" th:text="MALE"></option>
                        </select>
                    </div>

                    <div style="clear:both; padding:8px; text-align:right">
                        <label for="phoneNumber" style="float:left">Phone number: </label>
                        <input type="tel" id="phoneNumber" required/>
                    </div>
                </div>

                <div style="width:10%"></div>

                <h2 style="text-align:center">Address:</h2>

                <div style="clear:both; padding:8px; text-align:right">
                    <label for="city" style="float:left">City: </label>
                    <input type="text" id="city" required/>
                </div>

                <div style="clear:both; padding:8px; text-align:right">
                    <label for="street" style="float:left">Street: </label>
                    <input type="text" id="street" required/>
                </div>

                <div style="clear:both; padding:8px; text-align:right">
                    <label for="house" style="float:left">House: </label>
                    <input type="text" id="house" required/>
                </div>

                <div style="clear:both; padding:8px; text-align:right">
                    <label for="flat" style="float:left">Flat: </label>
                    <input type="text" id="flat"/>
                </div>
            </div>
        </div>

        <div class="reg-button">
            <button style="width:100px" type="button"> Create</button>
        </div>
    </form>
</div>

</body>
</html>