<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<div class="p-3 bg-image" style="
background-image: url('https://mdbootstrap.com/img/new/textures/full/171.jpg');
height: 80px;
"></div>

<div class="top">
    <a href="/medicalonlinebookingservice/index">Home Page</a>
    <a href="/medicalonlinebookingservice/profile/patient">Home Page</a>
    <a href="/medicalonlinebookingservice/logout">Logout</a>
</div>


<body>

<h3 class="form-signin-heading" > Your reserved visits </h3>

    <table class="table table-striped">
        <thead>
        <tr>
            <th scope="col">Specialist</th>
            <th scope="col">Doctor firstname</th>
            <th scope="col">Date and time</th>
            <th scope="col">Action</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="eachVisit : ${patientVisits}">
            <td th:text="${eachVisit.doctor.specialist.name()}"/>
            <td th:text="${eachVisit.doctor.lastname}"/>
            <td th:text="${eachVisit.startTime}">
            <td>
            <form th:action="@{/profile/patient/deleteVisit}" method="post" th:object="${visit}">
                <input type="hidden" name="id" th:value="${eachVisit.id}"/>
                <button class="button" type="submit">Delete</button>
            </form>
            </td>
        </tr>
        </tbody>
        </thead>
    </table>



<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa"
        crossorigin="anonymous"></script>
</body>
</html>