<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div class="p-3 bg-image" style="
        background-image: url('https://mdbootstrap.com/img/new/textures/full/171.jpg');
        height: 80px;
        "></div>
<a href="/medicalonlinebookingservice/index">Start Page</a>
<a href="/medicalonlinebookingservice/profile/patient/patientVisits">View your visits</a>

<body>
<div class="container">

<h3 class="form-signin-heading" style="text-align:center"> Select a specialist and date of visit </h3>

<form th:action="@{/profile/patient/visits}" th:object="${patientRequest}" method="post">

    <select name="specialist" id="specialist">
        <option th:each="specialist : ${T(com.example.medicalonlinebookingservice.entity.enums.Specialist).values()}" th:value="${specialist}"
                th:text="${specialist}"></option>
    </select>

    <input type="date" name="date" placeholder="date"/>

    <button style="width:100px" type="submit"> Find visit </button>

</form>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa"
        crossorigin="anonymous"></script>
</body>
</html>